{% extends 'IbnZohrArchivesBundle:Base:layout.html.twig' %}

{% block body %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="#">Gestion des Archives</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Liste des Archives</span>
        </li>
    </ul>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-social-dribbble font-dark hide"></i>
                        <span class="caption-subject font-dark bold uppercase">Liste des archives</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                            <i class="icon-cloud-uplosad"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                            <i class="icon-wrench"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                            <i class="icon-trash"></i>
                        </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <a href="{{ path('archives_add_form')}}" target="_blank" class="btn green">Ajouter Archivage</a>

                    <div class="bootstrap-table">

                        <div class="fixed-table-container">
                            <div class="fixed-table-header">
                                <table class="table table-hover" >
                                    <thead>
                                    <th>Type</th>
                                    <th>Service</th>
                                    <th>Numero</th>
                                    <th>Patiant</th>
                                    <th>Année</th>
                                    <th>Date</th>
                                    <th>Date archivage</th>
                                    <th>Actions</th>
                                    </thead>
                                    <tbody>
                                        {% for storing in storings %}
                                            <tr>
                                                <td>{{ storing.type }}</td>
                                                {% if storing.type == 'Hospitalisation' %}
                                                    <td>{{ storing.hospitalization.service.name }}</td>
                                                    <td>{{ storing.hospitalization.hospNumber }}</td>
                                                    <td>{{ storing.hospitalization.patient.firstName ~ ' '~storing.hospitalization.patient.lastName }}</td>
                                                    <td>{{ storing.hospitalization.hospYear }}</td>
                                                    <td>{{ storing.hospitalization.hospDate|date("d-m-Y") }}</td>
                                                {% elseif storing.type == 'Examen' %}

                                                    <td>{{ storing.exam.service.name }}</td>
                                                    <td>{{ storing.exam.examNumber }}</td>
                                                    <td>{{  storing.exam.patient.firstName ~ ' '~storing.exam.patient.lastName }}</td>
                                                    <td>{{ storing.exam.examYear }}</td>
                                                    <td>{{ storing.exam.examDate|date("d-m-Y") }}</td>
                                                {% elseif storing.type == 'Consultation' %}
                                                    <td>{{ storing.consultation.service.name }}</td>
                                                    <td>{{ storing.consultation.consNumber }}</td>
                                                    <td>{{storing.consultation.patient.firstName ~ ' '~storing.consultation.patient.lastName}}</td>
                                                    <td>{{ storing.consultation.consYear }}</td>
                                                    <td>{{ storing.consultation.consDate|date("d-m-Y") }}</td>
                                                {% endif %}
                                                <td>{{ storing.date|date("d-m-Y") }}</td>
                                                <td>
                                                    <a href="{{path('archives_edit_form', {'id':storing.id } )}}" target="_blank" class="btn yellow">Modifier</a>
                                                    <a href="{{path('archives_delete', {'id':storing.id } )}}" class="btn red">Supprimer</a>
                                                    <a href="{{path('archives_sorties_form', {'id':storing.id } )}}" class="btn grey-silver">Sorties</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}