<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>Gestion des Archives</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #3 for dashboard & statistics" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css" />

        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/datatables/datatables.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/morris/morris.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/fullcalendar/fullcalendar.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/jqvmap/jqvmap/jqvmap.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/bootstrap-sweetalert/sweetalert.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>

        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/css/components2.min.css') }}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/css/plugins.min.css') }}" rel="stylesheet" type="text/css" />

        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{{ asset('bundles/ibnzohrarchives/metronic/assets/layouts/layout3/css/layout.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/ibnzohrarchives/metronic/assets/layouts/layout3/css/themes/default.min.css') }}" rel="stylesheet" type="text/css" id="style_color" />
        <link href="{{ asset('bundles/ibnzohrarchives/metronic/assets/layouts/layout3/css/custom.min.css') }}" rel="stylesheet" type="text/css" />

        

        <link rel="shortcut icon" href="favicon.ico" /> </head>


    <body class="page-container-bg-solid">
        <div class="page-wrapper">
            
            {% include 'IbnZohrArchivesBundle:Base:header.html.twig' %}

            <div class="page-wrapper-row full-height">
                <div class="page-wrapper-middle">
                    
                    <div class="page-container">
                        
                        <div class="page-content-wrapper">
                            
                            <div class="page-content">
                                <div class="container">
                                    {% block body %}

                                    {% endblock %}
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="page-wrapper-row">
                
                {% include 'IbnZohrArchivesBundle:Base:footer.html.twig' %}

            </div>
        </div>
        
        <!--[if lt IE 9]>
            <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/respond.min.js') }}"></script>
            <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/excanvas.min.js') }}"></script> 
            <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/ie8.fix.min.js') }}"></script> 
        <![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/jquery.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/ibnzohrarchives/js/ajax-form.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/js.cookie.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/jquery.blockui.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}" type="text/javascript"></script>

        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/moment.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/morris/morris.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/morris/raphael-min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/counterup/jquery.waypoints.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/counterup/jquery.counterup.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/fullcalendar/fullcalendar.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/flot/jquery.flot.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/flot/jquery.flot.resize.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/flot/jquery.flot.categories.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/jquery.sparkline.min.js') }}" type="text/javascript"></script>
        
        <script src="{{asset('bundles/ibnzohrarchives/metronic/assets/global/scripts/datatable.js')}}" type="text/javascript"></script>
        <script src="{{asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/datatables/datatables.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js')}}" type="text/javascript"></script>
        <script src="{{asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}" type="text/javascript"></script>
        <script src="{{asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.min.js') }}" type="text/javascript"></script>
        <script src="{{asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/bootstrap-sweetalert/sweetalert.min.js') }}" type="text/javascript"></script>
        <script src="{{asset('bundles/ibnzohrarchives/metronic/assets/global/plugins/select2/js/select2.full.min.js') }}" type="text/javascript"></script>
        


        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/global/scripts/app.min.js') }}" type="text/javascript"></script>

        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/pages/scripts/dashboard.min.js') }}" type="text/javascript"></script>

        {% block datatable %}
        {% endblock %}

        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/layouts/layout3/scripts/layout.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/layouts/layout3/scripts/demo.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/layouts/global/scripts/quick-sidebar.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/ibnzohrarchives/metronic/assets/layouts/global/scripts/quick-nav.min.js') }}" type="text/javascript"></script>
        
        {% block js %}

        {% endblock %}

    </body>

</html>
